:root {
  --color-gray-light: #f9f9f9;
  --color-gray-main: #a1a1a1;
  --color-blue-main: #104bcb;
  --color-green-main: #10ab15;
  --color-red-main: #e53420;
  --border-radius: 5px;
}

.app-container {
  max-width: 450px;
  margin: 25px auto;
  padding: 15px;
  border: 0.5px solid var(--color-gray-main);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(77, 77, 77, 0.1);
}

.app-title {
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
  color: var(--color-blue-main);
}

.new-task {
  display: flex;
  gap: 10px;
}

.task-input {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border: 0.5px solid var(--color-gray-main);
  border-radius: var(--border-radius);
}

.task-input:focus {
  outline-color: var(--color-blue-main);
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  gap: 10px;
  margin: 8px 0;
  cursor: pointer;
}

.task-body {
  flex: 1;
  width: calc(100% - 80px);
  padding: 5px;
  background-color: var(--color-gray-light);
  border: 1px solid var(--color-gray-main);
  border-radius: var(--border-radius);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-text {
  display: inline;
  vertical-align: middle;
}

.task-done-text {
  text-decoration: line-through;
  color: var(--color-gray-main);
}

.done-checkbox {
  vertical-align: middle;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  accent-color: var(--color-blue-main);
  cursor: pointer;
}

.button-green {
  background-color: var(--color-green-main);
}

.button-red {
  background-color: var(--color-red-main);
}

.button-blue {
  background-color: var(--color-blue-main);
}

button {
  min-width: 80px;
  padding: 8px 12px;
  font-size: 14px;
  color: var(--color-gray-light);
  border: none;
  border-radius: var(--border-radius);
  transition: all 0.25s;
}

button:disabled {
  background-color: #b6b9b6;
}

button:enabled {
  cursor: pointer;
}

button:enabled:hover {
  opacity: .75;
}

.buttons-set {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}